@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.brand-text {
	font-family: "Abel", sans-serif;
	font-size: 30px;
}
.brand-color {
	color: "#3cc4c4";
}

.search_categories {
	font-size: 10px;
	padding: 10px 8px 10px 14px;
	background: "grey";
	border: 10px solid rgb(34, 32, 32);
	border-radius: 40px;
	position: relative;
}
